.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #e5e7eb;
  padding: 12px 16px;
  border-radius: 10px;
  background: #ffffff;
  gap: 32px;
  margin-bottom: 12px;
}

.col {
  white-space: nowrap;
  font-size: 14px;
}

.row:hover {
  background-color: #f5f5f5;
}
